// Fonts
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

// Variable overrides
$primary: #e53e3e;

$theme-colors: (
    primary: $primary
);

$font-family-base: "Quicksand", serif;

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$body-bg: $gray-200;
$enable-caret: false;
$enable-rounded: false;
$footer-height: 4rem;

$dropdown-link-hover-bg: $white;
$dropdown-link-active-bg: $white;
$dropdown-link-hover-color: $primary;
$dropdown-link-active-color: $primary;
