.site-content {
    flex: 1;
    background-color: $body-bg;

    @include media-breakpoint-down(md) {
        padding: $spacer * 2 0;
    }

    @include media-breakpoint-up(md) {
        padding: $spacer * 3 0;
    }
}
