.site-header {
    @extend .shadow-sm;

    position: sticky;
    top: 0;
    background-color: $white;
    z-index: 1000;

    .navbar {
        background-color: $white !important;
    }

    &.with-admin-navbar {
        @media screen and (max-width: 782px) {
            top: 46px !important;
        }
    }

    @media screen and (max-width: 600px) {
        position: static;
    }
}
