.comments-area {
    @extend .shadow-sm;

    background-color: $white;
    padding: $spacer * 2;

    @include media-breakpoint-down(lg) {
        margin-top: $spacer;
    }

    @include media-breakpoint-up(lg) {
        margin-top: $spacer * 3;
    }
}

.comment-reply-title {
    margin-bottom: $spacer;
}

.comment-form input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
.comment-form textarea {
    @extend .form-control;
}

.comments-title {
    margin-bottom: $spacer * 1.5;
}

.comment-form .submit {
    @extend .btn;

    color: $white;
    background-color: $primary;

    &:hover {
        color: $white;
        background-color: mix($black, $primary, 10%);
    }
}

.comment-list {
    list-style-type: none;
    padding-left: 0;

    & .children {
        @extend .border-start;

        border-style: dashed !important;
        border-top: none !important;
        border-right: none !important;
        border-bottom: none !important;
        list-style-type: none;
        padding-left: $spacer * 1.5;
    }
}

.comment-body {
    //@extend .border;

    //border-style: dashed !important;
    padding: $spacer;
}
