@keyframes dropdown-slide-up-animation {
    0% {
        top: $spacer / 2;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes dropdown-slide-down-animation {
    0% {
        top: $spacer;
        opacity: 0;
    }
    100% {
        top: $spacer * 2.5;
        opacity: 1;
    }
}

.dropdown-menu {
    overflow: hidden;
    border-radius: 0;
    border: none;
    box-shadow: $box-shadow;
    z-index: 99;

    &[data-bs-popper="none"],
    &[data-popper-placement="bottom-start"],
    &[data-popper-placement="bottom-end"] {
        animation: dropdown-slide-down-animation ease-in-out 150ms;
    }

    &[data-popper-placement="top-start"],
    &[data-popper-placement="top-end"] {
        animation: dropdown-slide-up-animation ease-in-out 150ms;
    }

    & .current-menu-item .dropdown-item {
        @extend .active;
    }
}

.dropdown-toggle {
    padding: $spacer / 2 $spacer !important;
    z-index: 100;

    &:hover {
        color: $primary !important;
    }

    &[aria-expanded="true"] {
        color: $white !important;
        background-color: $primary;
    }

    & > svg.fa-angle-down {
        transition: transform 150ms;
    }

    &.show > svg.fa-angle-down {
        transform: rotate(180deg);
    }
}
