.entry-header {
    margin-bottom: 0 $spacer * 2;
    padding: $spacer * 2;

    .entry-title {
        font-weight: bold;
    }
}

.entry-content {
    padding: 0 $spacer * 2;
    text-align: justify;
}

.entry-footer {
    @extend .text-muted;
    @extend .border-top;

    background-color: $gray-100;
    margin-top: $spacer * 2;
    padding: $spacer $spacer * 2;
}

.entries-separated {
    .entry:not(:last-child) {
        margin-bottom: $spacer * 2;
    }
}

.entry {
    img {
        @include media-breakpoint-down(md) {
            width: 100% !important;
            height: auto;
        }

        @include media-breakpoint-up(md) {
            object-fit: cover;
            height: 100%;
            max-width: 100%;
        }
    }
}

.entry.single {
    .entry-header {
        margin-bottom: $spacer * 3;
    }

    .entry-content {
        font-size: 115%;
        line-height: 175%;

        h2 {
            margin: $spacer * 1.5 0;
        }

        pre {
            margin: $spacer * 2 0;
        }
    }
}

.entry:not(.single):not(.page) {
    display: block;

    @include media-breakpoint-up(md) {
        display: flex;

        .entry-compact-left {
            flex: 1 1 220px;
            max-width: 220px;
        }

        .entry-compact-right {
            flex: 1 1;
        }
    }
}

.entry-tags {
    margin-top: calc(#{$spacer} * 1.5 - #{$spacer});

    a {
        @extend .shadow-sm;

        background-color: $white;
        text-decoration: none;
        padding: $spacer / 2 $spacer;
        display: inline-block;
        margin-top: $spacer;

        &:not(:last-child) {
            margin-right: $spacer;
        }
    }
}
