.type-page {
    background-color: $white;
    box-shadow: $box-shadow-sm;

    .entry-header {
        padding-bottom: 0;

        .entry-categories {
            color: $gray-600;
            margin-bottom: $spacer / 2;
        }

        h4 > a {
            color: $dark;
            text-decoration: none;
        }
    }
}

.type-page:not(.single) {
    .entry-content {
         padding-bottom: $spacer;
    }
}
