.sidebar-wrapper {
    @include media-breakpoint-down(md) {
        margin-top: $spacer * 2;
    }
}

.sidebar {
    @extend .shadow-sm;

    background-color: $white;
    padding: $spacer * 2;

    .widget_search {
        .search-form {
            @extend .input-group;

            label {
                @extend .flex-fill;
            }
        }

        .screen-reader-text {
            display: none;
        }

        .search-field {
            @extend .form-control;

            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .search-submit {
            @extend .btn;

            @include media-breakpoint-down(xl) {
                width: 100%;
                margin-top: $spacer * 0.5;
                margin-left: 0 !important;
            }

            color: $white;
            background-color: $primary;

            &:hover {
                color: $white;
                background-color: mix($black, $primary, 10%);
            }
        }
    }
}
