.sidebar .widget:not(:last-child) {
    @extend .border-bottom;

    border-bottom-style: dashed !important;
    padding-bottom: $spacer * 1.5;
    margin-bottom: $spacer * 1.5;
}

.widget_polylang {
    select {
        @extend .form-select;

        & > option {
            font-family: inherit;
        }
    }
}
